<template>
    <main-block>
        <h1>Home</h1>

        <pagination v-bind:total="total"
                    v-bind:per-page="per_page"
                    v-bind:current-page="current_page"
                    v-if="feeds"></pagination>

        <div class="row mb-3">
            <div v-for="feed in feeds" class="col-md-6 col-lg-4 col-xl-3">
                <h4>
                    <bookmark v-bind:feed="feed"></bookmark>
                    <router-link :to="{ name: 'feed', params: {id: feed._id}}">
                        {{feed.title}}
                    </router-link>
                </h4>
                <img :src="feed.logo" class="img-fluid" :alt="feed.title" v-if="feed.logo">
                <div v-if="feed.description">
                    {{feed.description}}
                </div>
                <hr>
            </div>
        </div>

        <pagination v-bind:total="total"
                    v-bind:per-page="per_page"
                    v-bind:current-page="current_page"
                    v-if="feeds"></pagination>
    </main-block>
</template>

<script>
    import MainBlock from "./MainBlock";
    import Pagination from "./Pagination";
    import Bookmark from "./feed/Bookmark";
    export default {
        components: {Bookmark, Pagination, MainBlock},
        data: function () {
            return {
                feeds: [],
                total: 0,
                per_page: 10,
                current_page: 0,
            }
        },
        methods: {
            getFeeds: function() {
                const page = this.$route.query.page || 1;

                this.$http.get('/api/feeds/suggestions?page=' + encodeURIComponent(page))
                    .then(function(result) {
                        this.feeds = result.body.data;
                        this.total = result.body.total;
                        this.per_page = result.body.per_page;
                        this.current_page = result.body.current_page;
                    }, function(response) {
                        // error
                    });
            }
        },
        watch: {
            '$route': function() {
                this.getFeeds();
            }
        },
        computed: {
            showSidebar: function() {
                return this.$store.getters.getShowSidebar;
            }
        },
        created: function() {
            this.getFeeds();
        }
    }
</script>
