<template>
    <main role="main"
          class="ml-sm-auto col-md-8 col-lg-10 pt-3"
          v-bind:class="{
              'col-sm-8': showSidebarMD
          }">
        <slot></slot>
    </main>
</template>

<script>
    export default {
        computed: {
            showSidebar: function() {
                return this.$store.getters.getShowSidebar;
            },
            showSidebarMD: function() {
                return this.$store.getters.getShowSidebarMD;
            }
        },
    }
</script>
