<template>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <button class="navbar-toggler d-lg-none"
                    type="button"
                    aria-label="Toggle left sidebar"
                    v-on:click="toggleSidebar"
                    v-if="hasSidebar">
                <i class="fa fa-feed"></i>
            </button>

            <router-link class="navbar-brand" :to="{ name: 'home' }" exact>
                <img src="/images/logo_small.png" title="Home">
            </router-link>

            <button class="navbar-toggler d-lg-none"
                    type="button"
                    aria-label="Toggle navigation"
                    v-on:click="toggleNav">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault" v-bind:class="{ 'show': showNav }">
                <ul class="navbar-nav mr-auto">
                    <router-link tag="li" class="nav-item" :to="{ name: 'home' }" exact>
                        <a class="nav-link" href="#">Home</a>
                    </router-link>
                    <router-link tag="li" class="nav-item" :to="{ name: 'feeds' }">
                        <a class="nav-link" href="#">Catalog</a>
                    </router-link>
                    <router-link tag="li" class="nav-item" :to="{ name: 'login' }" v-if="!user.getters.isLoggedIn">
                        <a class="nav-link" href="#">Login</a>
                    </router-link>
                    <router-link tag="li" class="nav-item" :to="{ name: 'profile' }" v-if="user.getters.isLoggedIn">
                        <a class="nav-link" href="#">{{user.getters.getNicename}}</a>
                    </router-link>
                </ul>
                <form class="mt-2 mt-md-0" v-bind:action="searchURL">
                    <div class="input-group">
                        <input class="form-control form-control-outline-secondary" name="query" type="text" placeholder="Search" aria-label="Search">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search" title="Search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </nav>
    </header>
</template>

<script>
    export default {
        props: ['user'],
        methods: {
            toggleNav: function (event) {
                event.preventDefault();
                this.$store.dispatch('toggleNavbar');
            },
            toggleSidebar: function (event) {
                event.preventDefault();
                this.$store.dispatch('toggleSidebar');
            }
        },
        watch: {
            '$route': function() {
                this.$store.dispatch('hideNavbar');
                this.$store.dispatch('hideSidebar');
            }
        },
        computed: {
            searchURL: function () {
                return this.$router.resolve({
                    name: 'search'
                }).href;
            },
            hasSidebar: function () {
                return this.$route.matched[0].components.sidebar;
            },
            showNav: function() {
                return this.$store.getters.getShowNavbar;
            }
        }
    }
</script>