<template>
    <nav aria-label="Page navigation example" v-if="total > 0" class="d-flex">
        <ul class="pagination mx-auto justify-content-center">
            <li class="page-item" v-if="currentPage > 1">
                <router-link class="page-link" :to="route(currentPage - 1)">Previous</router-link>
            </li>
            <li class="page-item disabled" v-if="currentPage <= 1">
                <span class="page-link">Previous</span>
            </li>

            <template v-for="(page, index) in pages">
                <li class="page-item disabled" v-if="page !== 1 && page - 1 != pages[index - 1]">
                    <span class="page-link"><i class="fa fa-ellipsis-h"></i></span>
                </li>
                <li class="page-item" v-bind:class="{active: page == currentPage}">
                    <router-link class="page-link" :to="route(page)">{{page}}</router-link>
                </li>
            </template>

            <li class="page-item" v-if="maxPage > currentPage">
                <router-link class="page-link" :to="route(currentPage + 1)">Next</router-link>
            </li>
            <li class="page-item disabled" v-if="maxPage <= currentPage">
                <span class="page-link">Next</span>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: ['total', 'per-page', 'current-page', 'base-route'],
        data: function () {
            return {
                maxPage: 1
            }
        },
        computed: {
            pages() { return this.calcPages(); } //eg. myProp.slice() for array
        },
        methods: {
            calcPages: function () {
                const pages = [];
                const pagesGap = 3;
                const maxPage = Math.ceil(this.total / this.perPage);
                this.maxPage = maxPage;

                for (let i = 1; i <= pagesGap && i <= maxPage; i++) {
                    pages.push(i);
                }

                for (let i = this.currentPage - pagesGap + 1; i < this.currentPage + pagesGap && i <= maxPage; i++) {
                    if (i > 0 && i > pagesGap) {
                        pages.push(i);
                    }
                }

                for (let i = maxPage - pagesGap + 1; i <= maxPage; i++) {
                    if (i >= this.currentPage + pagesGap) {
                        pages.push(i);
                    }
                }

                return pages;
            },
            route: function (page) {
                const routeParams = ['name', 'params', 'query'];
                const route = {};
                for (const key in this.$route) {
                    if (routeParams.indexOf(key) !== -1) {
                        route[key] = this.$route[key];
                    }
                }
                const filteredRoute = jQuery.extend(true, {}, route);
                filteredRoute.query.page = page;
                return filteredRoute;
            }
        },
    }
</script>