<template>
    <main role="main" class="ml-sm-auto col-md-10 pt-3" v-bind:class="{'col-sm-8': showSidebar}">
        <h1>Search</h1>
        <form v-bind:action="searchURL" class="mb-3">
            <div class="input-group">
                <input class="form-control form-control-outline-secondary"
                       name="query"
                       type="text"
                       placeholder="Search"
                       aria-label="Search"
                       v-bind:value="query">
                <span class="input-group-append">
                    <button class="btn my-2 my-sm-0 btn-outline-secondary" type="submit">
                        <i class="fa fa-search" title="Search"></i>
                    </button>
                </span>
            </div>
        </form>
        <pagination v-bind:total="total"
                    v-bind:per-page="per_page"
                    v-bind:current-page="current_page"
                    v-if="feeds"></pagination>

        <div class="row mb-3">
            <div v-for="feed in feeds" class="col-md-3">
                <h4>
                    <router-link :to="{ name: 'feed', params: {id: feed._id}}"
                                 v-html="highlight(feed.title, query)">
                    </router-link>
                </h4>
                <div v-if="feed.website">
                    <a :href="feed.website" target="_blank">
                        <span v-html="highlight(feed.website, query)"></span>
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </div>
                <img :src="feed.logo" class="img-fluid" :alt="feed.title" v-if="feed.logo">
                <div v-if="feed.description"
                     v-html="highlight(feed.description, query)"></div>
                <button class="btn btn-default pull-right" v-on:click="subscribe($event, feed)">Subscribe</button>
            </div>
        </div>

        <pagination v-bind:total="total"
                    v-bind:per-page="per_page"
                    v-bind:current-page="current_page"
                    v-if="feeds"></pagination>
    </main>
</template>

<script>
    import Pagination from "./Pagination";
    export default {
        components: {Pagination},
        data: function () {
            return {
                feeds: [],
                total: 0,
                per_page: 10,
                current_page: 0,
                query: '',
            }
        },
        methods: {
            search: function () {
                const query = this.query = this.$route.query.query || '';
                const page = this.$route.query.page || 1;
                const url = '/api/feeds?page=' + encodeURIComponent(page) + '&query=' + encodeURIComponent(query);

                this.$http.get(url)
                    .then(function(result) {
                        this.feeds = result.body.data;
                        this.total = result.body.total;
                        this.per_page = result.body.per_page;
                        this.current_page = result.body.current_page;
                    }, function(response) {
                        // error
                    });
            },
            highlight: function (value, highlight) {
                return this.$options.filters.highlight(value, highlight);
            }
        },
        watch: {
            '$route': function() {
                this.search();
            }
        },
        created: function() {
            this.search();
        },
        computed: {
            searchURL: function () {
                return this.$router.resolve({
                    name: 'search'
                }).href;
            },
            showSidebar: function() {
                return this.$store.getters.getShowSidebar;
            }
        }
    }
</script>
