
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/font-awesome-sass/assets/stylesheets/font-awesome";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.form-control-outline-secondary {
  border-color: $secondary;
}

mark {
  padding: 0;
  font-size: 1em;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .navbar-brand {
    margin-right: 0;
  }
}