<template>
    <div class="container text-center">
        <form class="form-signin">
            <h1>Sign in</h1>

            <small class="text-muted">Connect with your favorite social network</small>
            <br><br>
            <div>
                <a class="btn btn-primary social-login-btn social-facebook" href="/login/facebook">
                    <i class="fa fa-facebook"></i>
                </a><a class="btn btn-primary social-login-btn social-twitter" href="/login/twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div>
                <a class="btn btn-primary social-login-btn social-linkedin" href="/login/linkedin">
                    <i class="fa fa-linkedin"></i>
                </a><a class="btn btn-primary social-login-btn social-google" href="/login/google">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </form>
    </div>
</template>

<style scoped>
    .form-signin{
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .social-login-btn {
        margin: 5px;
        width: 70px;
        height: 70px;
        font-size: 250%;
        padding: 0;
    }

    .social-google {
        background-color: #da573b;
        border-color: #be5238;
    }
    .social-google:hover{
        background-color: #be5238;
        border-color: #9b4631;
    }

    .social-twitter {
        background-color: #1daee3;
        border-color: #3997ba;
    }
    .social-twitter:hover {
        background-color: #3997ba;
        border-color: #347b95;
    }

    .social-facebook {
        background-color: #4c699e;
        border-color: #47618d;
    }
    .social-facebook:hover {
        background-color: #47618d;
        border-color: #3c5173;
    }

    .social-linkedin {
        background-color: #4875B4;
        border-color: #466b99;
    }
    .social-linkedin:hover {
        background-color: #466b99;
        border-color: #3b5a7c;
    }
</style>