<template>
    <main role="main" class="offset-md-2 col-md-8 pt-3">
        <h1>Profile</h1>
        <form v-if="user" v-on:submit="submit">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="auth_provider">Auth Provider</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="auth_provider" v-model="user.auth_provider" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="auth_id">Auth ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="auth_id" v-model="user.auth_id" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="nickname" class="col-sm-2 col-form-label">Nickname</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nickname" v-model="user.nickname" placeholder="Nickname">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" v-model="user.name" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" v-model="user.email" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                    <button type="button" class="btn btn-default pull-left" v-on:click="back">Cancel</button>
                </div>
            </div>
        </form>
    </main>
</template>

<script>
    export default {
        created: function () {
            if (!this.$store.getters.isLoggedIn) {
                this.$router.push({name: 'login'});
            } else {
                this.user = this.$store.getters.getProfile;
            }
        },
        methods: {
            submit: function (event) {
                event.preventDefault();

                this.$http.put('api/profile', JSON.stringify(this.user))
                    .then(function(response) {
                        console.log('response', response);
                    }, function(response) {
                        // error
                    });
            },
            back: function (event) {
                event.preventDefault();

                this.$router.go(-1)
            }
        }
    }
</script>