<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <a :href="post.url" target="_blank">
                        {{post.title}}
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="badge badge-secondary pull-right">{{post.published_date.date | formatDate}}</div>
                <div class="badge badge-secondary pull-left">{{post.author}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" v-html="sanitized_content">
            </div>
        </div>
        <hr v-inview="{post_id: post._id}">
    </div>
</template>

<script>
    const sanitize = require('sanitize-html');

    export default {
        props: ['post'],
        data: function() {
            return {
                sanitized_content: '',
                viewed: false
            }
        },
        created: function() {
            this.sanitized_content = sanitize(this.post.content);
        },
        mounted() {
            this.$root.$on('inview-enter', (data, node) => {
                if (!this.viewed && data.post_id == this.post._id) {
                    this.viewed = true;

                    this.$store.dispatch('postRead', {feed_id: this.post.feed_id, post_id: this.post._id});
                }
            })
        }
    }
</script>