<template>
    <div class="float-right">
        <i class="fa fa-bookmark" v-if="isBooked" v-on:click="unbook" aria-label="Unbook Feed"></i>
        <i class="fa fa-bookmark-o" v-if="!isBooked" v-on:click="book" aria-label="Book Feed"></i>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                feed: {},
            }
        },
        computed: {
            isBooked: function() {
                let result = false;
                const subscriptions = this.$store.getters.getSubscriptions;
                for (const sub of subscriptions) {
                    if (sub.feed_id == this.feed._id) {
                        result = true;
                        break;
                    }
                }
                return result;
            }
        },
        methods: {
            book: function(event) {
                event.preventDefault();

                this.$http.post('/api/subscriptions', JSON.stringify({url: this.feed.url}))
                    .then(function(result) {
//                        this.subscriptions.push(result.body);
                    }, function(response) {
                        // error
                    });
            },
            unbook: function(event) {
                event.stopPropagation();
                event.preventDefault();

                this.$http.delete('/api/subscriptions/' + encodeURIComponent(sub._id))
                    .then(function(result) {
                        this.$store.dispatch('removeSubscription', sub._id);
                    }, function(response) {
                        // error
                    });
            }
        },
    }
</script>

<style scoped>
    .fa {
        color: #28a745;
        cursor: pointer;
    }

    .fa-bookmark:hover {
        color: #dc3545;
    }
</style>