<template>
    <div>
        <h2 v-if="feed && feed._id">
            <bookmark v-bind:feed="feed"></bookmark>
            <router-link :to="{ name: 'feed', params: {id: feed._id}}">
                {{feed.title}}
            </router-link>
        </h2>
        <div v-if="feed && feed.website">
            <a :href="feed.website" target="_blank">
                {{feed.website}}
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </div>
        <hr>
    </div>
</template>

<script>
    import Bookmark from "./Bookmark";
    export default {
        components: {Bookmark},
        props: ['feed']
    }
</script>