<template>
    <main-block>
        <feed-header v-if="feed" v-bind:feed="feed"></feed-header>

        <pagination v-bind:total="total"
                    v-bind:per-page="per_page"
                    v-bind:current-page="current_page"
                    v-if="posts"></pagination>

        <post v-bind:post="post" v-for="post in posts"
              v-bind:data="post"
              v-bind:key="post._id"></post>

        <pagination v-bind:total="total"
                    v-bind:per-page="per_page"
                    v-bind:current-page="current_page"
                    v-if="posts"></pagination>

        <div class="alert alert-info" v-if="!posts || posts.length == 0">
            No posts found
        </div>
    </main-block>
</template>


<script>
    import Pagination from "../Pagination";
    import FeedHeader from "../feed/FeedHeader";
    import MainBlock from "../MainBlock";

    export default {
        components: {MainBlock, Pagination, FeedHeader},
        data: function () {
            return {
                feed: {},
                posts: [],
                total: 0,
                per_page: 10,
                current_page: 0,
            }
        },
        computed: {
            showSidebar: function() {
                return this.$store.getters.getShowSidebar;
            }
        },
        methods: {
            getPosts: function() {
                const page = this.$route.query.page || 1;
                const url = '/api/posts?feed=' + encodeURIComponent(this.$route.params.id)
                    + '&page=' + encodeURIComponent(page);

                this.$http.get(url)
                    .then(function(result) {
                        this.posts = result.body.data;
                        this.total = result.body.total;
                        this.per_page = result.body.per_page;
                        this.current_page = result.body.current_page;
                        this.feed = result.body.feed;
                    }, function(response) {
                        // error
                    });
            }
        },
        watch: {
            '$route': function() {
                this.getPosts();
            }
        },
        created: function() {
            this.getPosts();
        }
    }
</script>