<template>
    <nav class="col-sm-4 col-md-4 col-lg-2 d-none d-md-block bg-light sidebar"
         v-bind:class="{
                'd-block': showSidebar,
                'd-sm-none': !showSidebarMD,
                'd-sm-block': showSidebarMD
            }">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" v-for="(sub, index) in subscriptions">
                <router-link :to="{ name: 'subscription', params: {id: sub._id}}" class="nav-link">
                    <div class="badge badge-secondary" v-if="sub.unread_posts">
                        {{sub.unread_posts.length}}
                    </div>
                    {{sub.title}}
                </router-link>
            </li>
        </ul>

        <form v-on:submit="submit" class="form-inline flex-column search-form">
            <div class="input-group mb-2 mb-sm-0">
                <input type="text" class="form-control form-control-outline-secondary" id="feed_url" v-model="feed.url" placeholder="Feed URL">
                <span class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fa fa-plus" title="Add Feed"></i>
                    </button>
                </span>
            </div>
        </form>
    </nav>
</template>


<script>
    export default {
        created: function () {
            this.subscriptions = this.$store.getters.getSubscriptions;
        },
        computed: {
            showSidebar: function() {
                return this.$store.getters.getShowSidebar;
            },
            showSidebarMD: function() {
                return this.$store.getters.getShowSidebarMD;
            }
        },
        data: function () {
            return {
                feed: {
                    url: ''
                },
                subscriptions: [],
            }
        },
        methods: {
            submit: function(event) {
                event.preventDefault();

                this.$http.post('/api/subscriptions', JSON.stringify(this.feed))
                    .then(function(result) {
                        this.$store.dispatch('addSubscription', result.body);
                        this.feed.url = '';
                    }, function(response) {
                        // error
                    });
            }
        }
    }
</script>

<style scoped>
    /*
     * Sidebar
     */
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 20px 0;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }

    .sidebar .nav {
        margin-bottom: 20px;
    }

    .sidebar .nav-item {
        width: 100%;
    }

    .sidebar .nav-item + .nav-item {
        margin-left: 0;
    }

    .sidebar .nav-link {
        border-radius: 0;
        position: relative;
    }

    .sidebar .remove-btn {
        padding: 0.3rem 0;
        opacity: 0;
        margin-top: 0.1em;
        position: absolute;
        right: 20px;
        top: 6px;
    }

    .sidebar .nav-item:hover .remove-btn {
        opacity: 1;
    }

    .search-form .input-group {
        width: 100%;
        padding: 0 1rem;
    }
</style>