<template>
    <main-block>
        <feed-header v-if="feed" v-bind:feed="feed"></feed-header>

        <post v-bind:post="post"
              v-for="post in posts"
              v-bind:data="post"
              v-bind:key="post._id"></post>

        <div class="alert alert-info" v-if="!posts || posts.length == 0">
            No posts found
        </div>
    </main-block>
</template>


<script>
    import FeedHeader from "../feed/FeedHeader";
    import MainBlock from "../MainBlock";

    export default {
        components: {MainBlock, FeedHeader},
        data: function () {
            return {
                feed: {},
                posts: []
            }
        },
        computed: {
            showSidebar: function() {
                return this.$store.getters.getShowSidebar;
            }
        },
        methods: {
            getPosts: function() {
                this.$http.get('/api/posts?subscription=' + encodeURIComponent(this.$route.params.id))
                    .then(function(result) {
                        this.posts = result.body.data;
                        this.feed = result.body.feed;
                    }, function(response) {
                        // error
                    });
            }
        },
        watch: {
            '$route': function() {
                this.getPosts();
            }
        },
        created: function() {
            this.getPosts();
        }
    }
</script>